@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* line 3, sass/main.scss */
#mask {
  position: fixed;
  z-index: 9000;
  background: #000;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .6;
}

/* line 5, sass/main.scss */
#file_box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  z-index: 9100;
  background-color: #ecf0f1;
  width: 340px;
  height: 340px;
  padding: 0;
}
/* line 7, sass/main.scss */
#file_box #fw_header {
  background-color: #1abc9c;
  padding: 10px;
  font-family: Open Sans,sans-serif;
  color: #000;
  height: 22px;
}
/* line 10, sass/main.scss */
#file_box #fw_content {
  padding: 10px;
}

/* line 15, sass/main.scss */
#multi_box {
  position: fixed;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9100;
  background-color: #ecf0f1;
  width: 80%;
  padding: 0;
}

/* line 17, sass/main.scss */
iframe {
  width: 100%;
  height: 295px;
  border: none;
}

/* line 19, sass/main.scss */
#closeThis {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  text-decoration: none;
  text-align: center;
  color: #000;
}
/* line 23, sass/main.scss */
#closeThis:after {
  content: "\2715";
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 26, sass/main.scss */
#closeThis:hover {
  background-color: #16a085;
  color: #ecf0f1;
}

/* line 32, sass/main.scss */
.file_wrapper {
  margin: 0;
  font-family: Open Sans,sans-serif;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 34, sass/main.scss */
.file_wrapper #fw_header {
  background-color: #1abc9c;
  padding: 10px;
  font-family: Open Sans,sans-serif;
  color: #000;
  height: 22px;
}
/* line 35, sass/main.scss */
.file_wrapper #dialog {
  width: 100%;
  height: 100%;
}
/* line 37, sass/main.scss */
.file_wrapper #dialog .img_list {
  height: 95%;
  margin: 0 0 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}
/* line 39, sass/main.scss */
.file_wrapper #dialog .img_list .img_block {
  float: left;
  position: relative;
  width: 8%;
  height: auto;
  margin: 1%;
}
/* line 41, sass/main.scss */
.file_wrapper #dialog .img_list .img_block .img_item {
  width: 100%;
  height: 100%;
  padding: 0;
}
/* line 42, sass/main.scss */
.file_wrapper #dialog .img_list .img_block .img_select {
  position: absolute;
  top: 6px;
  right: 3px;
}
/* line 45, sass/main.scss */
.file_wrapper #dialog .next_step {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
/* line 46, sass/main.scss */
.file_wrapper #dialog .select_all {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
